---
title: Home
layout: base
---

<section class="index-logo">
	<picture class="index-logo--image index-logo--inner">
		<source srcset="{{ site.assetsurl }}/phormium-logo.webp" type="image/webp">
		<img src="{{ site.assetsurl }}/phormium-logo.png" alt="{{ site.name }}">
	</picture>
</section>
