<footer class="main-footer">
	<ul class="inline-list">
		<li>Content licensed as <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></li>
		<li><a href="https://gitlab.com/phormium/phormium.nz">Source</a></li>
	</ul>
</footer>
