<nav class="main-nav">
	<div id="main-nav--left" class="main-nav--inner">
		<a class="main-nav--brand main-nav--link" href="{{ site.baseurl }}/">
			<strong>{{ site.name }}</strong>
			<span>{{ site.tagline }}</span>
		</a>

		{% for item in site.data.navigation.left %}
			<a class="main-nav--link {% if item.url == page.url %}active{% endif %}" {% if item.target %}target="{{ item.target }}"{% endif %} href="{{ item.url }}">
				{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
				{{ item.title }}
			</a>
		{% endfor %}
	</div>

	<div id="main-nav--right" class="main-nav--inner">
		{% for item in site.data.navigation.right %}
			<a class="main-nav--link {% if item.url == page.url %}active{% endif %}" {% if item.target %}target="{{ item.target }}"{% endif %} href="{{ item.url }}">
				{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
				{{ item.title }}
			</a>
		{% endfor %}
	</div>
</nav>
