*,
*:before,
*:after
{
	box-sizing: border-box;
}

html,
body
{
	padding: 0;
	margin: 0;
	min-width: 100%;
	min-height: 100%;

	background-color: $body_bg;
	color: $body_fg;

	font-family: $body_font;
	font-size: $body_font_size;
	font-weight: $body_font_weight;
}

a
{
	color: $body_accent;
	text-decoration: none;
	border-bottom: $body_link_border_width solid $body_accent;
	transition: border-bottom 0.1s;

	&:focus,
	&:hover
	{
		border-bottom-width: $body_link_border_focus_width;
	}

	&.noborder
	{
		border-bottom-width: 0px !important;
	}
}

.main-container
{
	max-width: $responsive_width;
	width: 100%;
	margin: 0 auto;
	padding: $body_padding;
}
