.main-footer
{
    color: $footer_fg;

	font-size: $footer_font_size;
	font-weight: $footer_font_weight;
	text-align: center;
	
	margin: $footer_margin;

	a
	{
		color: $footer_fg;
		border-bottom-color: $footer_fg;
	}
}
