.index-logo
{
	height: 100%;
	width: 100%;

	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	.index-logo--image
	{
		margin: $index_logo_margin 0;
		max-width: calc(100% - #{$index_logo_margin * 2});

		img
		{
			max-width: 100%;
		}
	}

	.index-logo--inner
	{
		width: 100%;
		max-width: $index_logo_width;

		text-align: center;
	}
}
