.main-nav
{
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: space-between;

	background-color: $navigation_bg;
	color: $navigation_fg;

	min-height: $navigation_min_height;
	font-size: $navigation_font_size;

	.main-nav--inner
	{
		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
		justify-content: flex-start;
	}

	.main-nav--brand
	{
		strong
		{
			font-weight: $navigation_brand_font_weight;
		}

		span
		{
			font-weight: $navigation_brand_tagline_font_weight;
			font-size: $navigation_brand_tagline_font_size;
		}
	}

	.main-nav--link
	{
		color: $navigation_fg;
		padding: $navigation_link_padding_y $navigation_link_padding_x;
		border-top: $navigation_link_active_border_width solid transparent;
		border-bottom: $navigation_link_active_border_width solid transparent;

		transition: none !important;

		&:focus,
		&:hover
		{
			background: $navigation_link_focus_bg;
		}

		&.active
		{
			border-bottom-color: $navigation_link_active_border_color;
		}
	}
}
