$responsive_width: 48rem;

$body_bg: #fff;
$body_fg: #000;
$body_accent: #14640f;
$body_padding: 0 1rem;
$body_font: Ubuntu, sans-serif;
$body_font_size: 110%;
$body_font_weight: 400;
$body_link_border_width: 0.01rem;
$body_link_border_focus_width: 0.2rem;

$navigation_font_size: 1.0rem;
$navigation_bg: $body_accent;
$navigation_fg: #fff;
$navigation_fg_dimmed: adjust-color($navigation_fg, $alpha: 0.5);
$navigation_brand_font_weight: 500;
$navigation_brand_tagline_font_weight: 300;
$navigation_brand_tagline_font_size: 0.75rem;
$navigation_link_padding_x: 0.75rem;
$navigation_link_padding_y: 0.35rem;
$navigation_link_focus_bg: rgba(255, 255, 255, 0.25);
$navigation_link_active_border_width: $body_link_border_focus_width;
$navigation_link_active_border_color: rgba(255, 255, 255, 0.75);
$navigation_min_height: $navigation_font_size + ($navigation_link_padding_y * 2);

$footer_fg: #999;
$footer_font_size: 0.7rem;
$footer_font_weight: 300;
$footer_margin: 0.5rem;
$footer_min_height: $footer_font_size + ($footer_margin * 2) + $body_link_border_focus_width;

$index_logo_width: 32rem;
$index_logo_margin: 1rem;
