---
---

<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }} &raquo; {% endif %}{{ site.name }}</title>
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.permalink }}">
	<meta property="og:title" content="{% if page.title %}{{ page.title }} &raquo; {% endif %}{{ site.name }}">
	<meta property="og:image" content="{{ site.assetsurl }}/phormium-logo.png">
	<meta property="og:type" content="website">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
	<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.15.2/css/all.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@fontsource/ubuntu@4.2.1/300.css">
	<link rel="stylesheet" href="https://unpkg.com/@fontsource/ubuntu@4.2.1/400.css">
	<link rel="stylesheet" href="https://unpkg.com/@fontsource/ubuntu@4.2.1/500.css">
</head>
<body>
	{{ content }}
</body>
</html>
