---
layout: base
---

<header class="page-header">
    <h1 class="page-header--title">{{ page.title }}</h1>
    {% if page.author %}
        {% assign author = site.data.people[page.author] %}
        <div class="page-header--author">
            Authored by:
            <a rel="author" href="{{ author.url }}" title="{{ author.name }}">
                {{ author.name }}
            </a>
        </div>
    {% endif %}
</header>

<section class="page-content">
	{{ content }}
</section>
